:root {     /* Variables */
    --darkBlue: #0b0d17;
    --gray: #D0D6F9;
    --white: #FFF;
    --headingsFont: 'Bellefair', serif;
    --subHeadingsFont: 'Barlow Condensed', sans-serif;
    --textsFont: 'Barlow', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
} 
*, *:before, *:after {    
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 
h1, h5, p{ margin: 0; }
body {
    height: 100vh;
    padding: 2.4rem 2.4rem ;
    background: url('../assets/home/background-home-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
/* Header */
.header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 4rem;
    height: 4rem;
}
.nav-toggle {
    height: 2.1rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}
.nav-toggle__img{ display: none; }
.nav-toggle__img--active{ display: block; }
hr {
    display: none;
    width: calc(70% - 10.3rem);
    height: 0.1rem;
    position: absolute;
    top: 50%;
    left: -52%;
    background-color: rgba(255, 255, 255, 0.30);
    border: none;
    z-index: 100; 
}
.header-nav {
    position: fixed;
    width: 25.5rem;
    backdrop-filter: blur(3.5rem);
}
.mobile-nav {
    top: 0;
    right: -30rem;
    height: 100%;
    transition: right .5s ease;
}
.mobile-nav--active {
    display: block;
    right: 0;
}
.nav-links {
    margin: 11.8rem 0 0 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    list-style: none;
}
.nav-link {
    font-family: var(--subHeadingsFont);
    font-size: 1.6rem;
    letter-spacing: 2.7px;
    text-align: left;
    text-transform: uppercase;
    color: #FFF;
}
.nav-link span {
    margin-right: 1.2rem;
    font-weight: bold;
}
/* Main */
.main { margin: 4.8rem auto 0; }
.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}
.home-content {
    height: 27.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: center;
}
.heading5 {
    height: 1.9rem;
    font-family: var(--subHeadingsFont);
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    color: var(--gray);
}
.heading {
    font-family: var(--headingsFont);
    font-size: 8rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 10rem;
    color: var(--white);
}
.text {
    font-family: var(--textsFont);
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--gray);
}
.home__button {
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--headingsFont);
    font-size: 2rem;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: var(--darkBlue);
    background-color: var(--white);
    border-radius: 50%;
}
@media (min-width: 768px) {
    body {
        height: auto;
        padding: 0;
        background-image: url('/src/assets/home/background-home-tablet.jpg');
    }
    .header { 
        height: 9.6rem; 
        padding-left: 3.9rem;
    }
    .logo { width: 4.8rem; height: 4.8rem; }
    .nav-toggle { display: none; }
    .header-nav {
        width: 45rem;
        height: 9.6rem;
        backdrop-filter: none;
        background-color: #151923;
    }
    .tablet-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
    }
    .nav-links{
        margin: 0;
        flex-direction: row;
    }
    .nav-link {
        display: inline-block;
        height: 9.6rem;
        font-size: 1.4rem; 
        line-height: 9.6rem;
    }
    .nav-link--active { border-bottom: 3px solid var(--white); }
    .nav-link span { display: none; }
    .main { margin-top: 10.6rem; }
    .home-content {
        width: 45rem;
        height: 33.4rem;
        padding: 0 .3rem;
    }
    .heading5 {
        height: 2.4rem;
        font-size: 2rem;
        letter-spacing: 3.38px;
    }
    .heading { 
        font-size: 15rem; 
        line-height: 15rem;
    }
    .text {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }
    .home__button{
        width: 24.2rem;
        height: 24.2rem;
        font-size: 3.2rem;
        letter-spacing: .2rem;
    }
}
@media (min-width: 1440px) {
    body { 
        background: url('/src/assets/home/background-home-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header {
        margin-top: 4rem;
        padding-left: 5.5rem;
    }
    .desktop-nav {
        position: relative;
        width: 83rem;
        backdrop-filter: blur(8rem);
        background-color: inherit;
    }
    .nav-links { gap: 4.8rem; }
    .nav-link { font-size: 1.6rem; }
    .nav-link:hover { border-bottom: 3px solid rgba(255, 255, 255, 0.5021) }
    .nav-link span { display: inline-block; }
    hr { display: block; }
    .main { margin-top: 25rem; }
    .home {
        margin-left: 10rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 29.8rem;
    }
    .home-content { text-align: left; }
    .heading5 {
        height: 3.4rem;
        font-size: 2.8rem;
        letter-spacing: 4.72px;
    }
    .text {
        font-size: 1.8rem;
        line-height: 3.2rem;
    }
    .home__button {
        width: 27.4rem;
        height: 27.4rem;
    }
    .home-explore {
        width: 45rem;
        height: 45rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    .home-explore:hover {
        background-color: rgba(255, 255, 255, 0.10);
        transition: background-color 1s ease;
    }
}
@media (max-width: 1535px) {
    body { height: 100vh; }
}